<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="{% static '/awtwh-s2fbi-001.ico' %}" type="image/x-icon">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/home_content.css' %}">
		<link rel="stylesheet" href="{% static '/css/header.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="{% static '/css/footer.css' %}">
        <title>Symptom Checker</title>
		<style>

li {
	list-style: none;
}
.zi{
	display: flex;
	    flex-direction: column;
}
.zi_b{
	    position: fixed;
	    right: 0;
	    height: 100%;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
}
dd{
	height: 50px;
	    line-height: 50px;
}
#ui{
	height: 41px;
	    line-height: 41px;
	    position: sticky;
	    top: 0;
	    background: aquamarine;
		z-index: 4;
}
h2{
	    position: sticky;
	    top: 41px;
	    background-color: aquamarine;
}
.active{
	background-color: #007AFF;
}
.dao{
	height: 44px;
	line-height: 44px;
}
		</style>
    </head>

    <body>
		<header class="mediq-head">
			<div class="mediq-head_content">
				<div class="mediq-head_content-common">
					<div class="mediq-head_col-logo">
						<a href="{% url 'MediQ:index' %}" class="mediq-head_col-logo-link">
							<img class="mediq-head_col-logo-img" src="{% static './img/logo.png' %}" alt="MediQ-Medical Services logo">
						</a>
					</div>
					<div class="mediq-head_col-mob-menu mobile-only">
						<button class="mediq-head_col-mob-menu-btn">
							<i class="fa fa-navicon"></i> Menu
						</button>
					</div>
					<div class="mediq-head_col-tagline">
						<h1 class="mediq-head_col-tagline-line">
							<ul id="login">
								<li>
									<a href="{% url 'MediQ:signup' %}">Sign up</a>
								</li>
								<li>
									<a>|</a>
								</li>
								<li>
									<a href="#" id="log">Sign in</a>
								</li>
							</ul>
						</h1>
					</div>
				</div>
				<div class="mediq-head_menu-row">
					<!-- Tablet menu -->
					<div class="mediq-head_menu-row-node-mobile-mode device-only">
						<!-- Primary search block -->
						<form id="search-form-node-mobile-mode" class="mediq-head_menu-row-node-mobile-mode-search">
							<div role="combobox">
								<input tabindex="0" id="header-search-mobile-mode" class="mediq-head_menu-row-node-mobile-mode-search-field" type="search" autocomplete="off" name="searchterm" placeholder="Search our site" title="Suggestion options">
							</div>
							<ul id="header-search-suggestions" class="dropdown-menu mediq-head_menu-row-node-mobile-mode-search-list veyron-search-list" role="listbox" position="position">

							</ul>
							<button tabindex="0" class="mediq-head_menu-row-node-mobile-mode-search-submit veyron-search-lens-btn" type="button">
								<i class="fa fa-search"></i>
							</button>
						</form>
					</div>
					<nav class="mediq-head_menu-row-bar">
						<!-- Tablet and Desktop menu -->
						<ul class="mediq-head_menu-row-bar-nav">
							<li class="mediq-head_menu-row-bar-nav-level-1-item">
								<a href="{% url 'MediQ:index' %}">Home</a>
							</li>
							<li class="mediq-head_menu-row-bar-nav-level-1-item">
								<a href="{% url 'MediQ:checker' %}">Symptom Checker</a>
							</li>
							<li class="mediq-head_menu-row-bar-nav-level-1-item">
								<a href="{% url 'MediQ:service' %}">Medical Service</a>
							</li>
							<li class="mediq-head_menu-row-bar-nav-level-1-item">
								<a href="{% url 'MediQ:booking' %}">Online Booking</a>
							</li>
							<li class="mediq-head_menu-row-bar-nav-level-1-item">
								<a href="{% url 'MediQ:insurance' %}">Medical Insurance</a>
							</li>
							<li class="mediq-head_menu-row-bar-nav-level-1-item desktop-only">
								<!-- Primary search block -->
								<form id="search-form-node-desktop-mode" class="mediq-head_menu-row-node-desktop-mode-search">
									<div role="combobox">
										<input tabindex="0" id="header-search-desktop-mode" class="mediq-head_menu-row-node-desktop-mode-search-field" type="search" autocomplete="off" name="searchterm" placeholder="Search our site" title="Suggestion options">
									</div>
									<ul id="header-search-suggestions" class="dropdown-menu mediq-head_menu-row-node-desktop-mode-search-list veyron-search-list" role="listbox" position="position">

									</ul>
									<button tabindex="0" class="mediq-head_menu-row-node-desktop-mode-search-submit veyron-search-lens-btn" type="button">
										<i class="fa fa-search"></i>
									</button>
								</form>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="mediq-head_mobile-screen mobile-only mediq-head-menu_mobile-screen__is-closed"></div>
			<nav class="mediq-head_mobile-menu mobile-only">
				<header>Menu <button class="mediq-head_mobile-menu-btn-close">Close <i class="fa fa-navicon"></i>
					</button>
				</header>
				<ul class="mediq-head_mobile-menu-lvl-1">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="symptom-checker.html">Symptom Checker</a>
					</li>
					<li>
						<a href="medical-service.html">Medical Service</a>
					</li>
					<li>
						<a href="online-booking.html">Online Booking</a>
					</li>
					<li>
						<a href="medical-insurance.html">Medical Insurance</a>
					</li>
				</ul>
			</nav>
		</header>
		<div class="login_popup">
			<div class="popup_content">
				<a class="close">+</a>
				<img src="{% static 'img/background-index.jpg' %}" alt="">
				<form action="">
					<label>E-mail</label>
					<input type="" placeholder="Your e-mail address" style="margin: 0 auto;">
					<label>Password</label>
					<input type="" placeholder="Your password" style="margin: 0 auto;">
					<ul id="popup-list">
						<li>
							<a href="{% url 'MediQ:reset' %}">forget password</a>
						</li>
						<li>
							<a>|</a>
						</li>
						<li>
							<a href="sign-up.html">sign up</a>
						</li>
					</ul>
					<br>
					<div id="login-button">
						<a href="index.html" class="button">Login</a>
					</div>
				</form>
			</div>
		</div>
        <main class="homepage container">
			
			<iframe src='https://dodxtx.shinyapps.io/EMSC/' style='overflow-x: hidden; overflow-y: visible; height: 120vh;'> </iframe>
			
			<div class="zi">
				<div class="dao">
					Symptom Checker
				</div>
				<div id="ui">
					Los Angeles
				</div>
				<ul class="zi_a">
	
				</ul>
				<ul class="zi_b">
	
				</ul>
			</div>
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                  <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                  <span>
                    Third checkbox
                    <small class="d-block text-muted">And we end with another snippet of text</small>
                  </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                    <span>
                    Third checkbox
                      <small class="d-block text-muted">And we end with another snippet of text</small>
                    </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                    <span>
                      Third checkbox
                      <small class="d-block text-muted">And we end with another snippet of text</small>
                    </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                    <span>
                      Third checkbox
                      <small class="d-block text-muted">And we end with another snippet of text</small>
                    </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                    <span>
                      Third checkbox
                      <small class="d-block text-muted">And we end with another snippet of text</small>
                    </span>
                </label>
            </div>
            <script src="js\fetch_api.js"></script>
            <a href="#" id="button1" class="btn btn-lg btn-primary my-2 bg-danger bg-gradient border-0">Get Data</a>
        </main>

        
		<footer class="mediq-foot">
			<div class="mediq-foot_container">
				<div class="grid-row">
					<div class="mq-foot-col">
						<h2>Our Company</h2>
						<ul>
							<li>
								<a href="">About Us</a>
							</li>
							<li>
								<a href="">News Room</a>
							</li>
							<li>
								<a href="">Careers</a>
							</li>
							<li>
								<a href="">Contact Us</a>
							</li>
						</ul>
					</div>
					<div class="mq-foot-col">
						<h2>Quick Links</h2>
						<ul>
							<li>
								<a href="">Services</a>
							</li>
							<li>
								<a href="">Insurance</a>
							</li>
							<li>
								<a href="">Find a Clinic</a>
							</li>
							<li>
								<a href="">Find a Doctor</a>
							</li>
						</ul>
					</div>
					<div class="mq-foot-col">
						<h2>Services</h2>
						<ul>
							<li>
								<a href="">Hospital</a>
							</li>
							<li>
								<a href="">Specialist Centers</a>
							</li>
							<li>
								<a href="">Family Medicine</a>
							</li>
							<li>
								<a href="">Dental</a>
							</li>
							<li>
								<a href="">Chinese Medicine</a>
							</li>
						</ul>
					</div>
					<div class="mq-foot-col">
						<h2>Contact Us</h2>
						<ul>
							<li>
								<a href="">Book an Appointment</a>
							</li>
							<li>
								<a href="">Make an Enquiry</a>
							</li>
						</ul>
					</div>
					<div class="mq-foot-col">
						<h2>Address</h2>
						<ul>
							<li>
								<a>University of Queensland</a>
							</li>
							<li>
								<a>St Lucia QLD 4072</a>
							</li>
							<li>
								<a>Queensland, Australia</a>
							</li>
						</ul>
					</div>
					<div class="clear"></div>
					<div class="mediq-foot_container">
						<div class="grid-row">
							<div class="mediq-foot_hon-description">
								<p>&copy; University of Queensland | 3801/7381 Design Computing Studio 3</p>
							</div>
						</div>
					</div>
		</footer>
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
		<script src="./js/index.js"></script>
		<script type="text/javascript">
			$(function(){
				
			
			var num = [{
					label: 'A',
					lists: [{
						name: "a1"
					}, {
						name: "a2"
					}, {
						name: "a3"
					}]
				}, {
					label: 'B',
					lists: [{
						name: "b1"
					}, {
						name: "b2"
					}, {
						name: "b3"
					}]
				}, {
					label: 'C',
					lists: [{
						name: "c1"
					}, {
						name: "c2"
					}, {
						name: "c3"
					}]
				}, {
					label: 'D',
					lists: [{
						name: "d1"
					}, {
						name: "d2"
					}, {
						name: "d3"
					}]
				}, {
					label: 'E',
					lists: [{
						name: "e1"
					}, {
						name: "e2"
					}, {
						name: "e3"
					}]
				}, {
					label: 'F',
					lists: [{
						name: "f1"
					}, {
						name: "f2"
					}, {
						name: "f3"
					}]
				}, {
					label: 'G',
					lists: [{
						name: "g1"
					}, {
						name: "g2"
					}, {
						name: "g3"
					}]
				},{
					label: 'H',
					lists: [{
						name: "h1"
					}, {
						name: "h2"
					}, {
						name: "h3"
					}]
				},
	
			];
			var tr="";
			var trs="";
			var tre="";
			$(num).each(function(i,index){
				tre+=`<li>${index.label}</li>`
			});
			$(num).each(function(s,indexs){
				trs="";
				$(indexs.lists).each(function(x,indexx){
					trs+=`
						<dl>
							<dd>
								${indexx.name}
							</dd>
						</dl>
					`
				});
				tr=`<li>
				<h2>${indexs.label}</h2>
					${trs}
				</li>`
				$(".zi_a").append(tr);
			});
			
			
			
			$(".zi_b").html(tre);
			
			$(window).load(function(){
				
				$(window).on("scroll",both);
				
			})
			$(".zi_b li").on("click",function(){
				// $(window).off("scroll",both);
				$(this).addClass("active");
				$(this).siblings().removeClass("active");
				var _index=$(this).index();
				var _top=
				console.log(_index);
				
				var _cha=$(".zi_a li").eq(_index).offset().top - $(window).height();
				console.log($(".zi_a li").eq(_index).offset().top-44,_cha,$(window).height());
				var _zhi=$(".zi_a li").eq(_index).offset().top-44;
				  $("html").scrollTop(_zhi);
				// $(window).on("scroll",both);
			})
			})
			function both(){
				var h=$(".zi_a h2");
				for(let i=0;i<h.length;i++){
					var cha=$(".zi_a h2").eq(i).offset().top-$(document).scrollTop()
					if(cha==41){
						$(".zi_b li").removeClass("active");
						$(".zi_b li").eq(i).addClass("active");
					}
				}
			}
			
			
		</script>
    </body>
</html>